.btn{
  border-radius: 30px;
}
.btn-cliente-azul{
  background: $azul;
  color:#fff;

  transition: 0.3s all ease;
  font-weight: bold;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  &:hover{
    background:$amarelo;
    color:#fff;
  }
}


.btn-cliente-amarelo{
  background: $amarelo;
  color:#fff;

  transition: 0.3s all ease;
  font-weight: bold;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  &:hover{
    background:$azul;
    color:#fff;
  }
}