.carousel {
  height: 100vh; }
  .carousel .carousel-inner .item {
    height: 100vh !important; }
    .carousel .carousel-inner .item img {
      width: 100% !important; }

/*# sourceMappingURL=carousel.css.map */
