.carousel{
  height: 100vh;
  .carousel-inner{
    .item{
      height: 100vh !important;
      img{
        width: 100% !important;
      }
    }
  }


}

.carousel-control.left, .carousel-control.right {
  background-image: none
}
