#topo{
	position:relative;
	background-position: bottom !important;
	background-size:cover !important;
	background-repeat:no-repeat !important;
	border-bottom:0px solid #eaeaea !important;
	margin-top: 90px; padding:50px 0 !important;
	.azul{
		background: #0380b0 !important;
	}
	.verde{
		background: #84b639 !important;
	}
	.pattern{
	    height: 100%;
	    position: absolute;
	    z-index: 0;
	    top: 0;
	    width: 100%;
	    opacity:0.7;
	}
	.box-topo{
		margin:20px 0;
		h1{
			font-weight: bold;
			color:#fff
		}
		.breadcrumb{
			background: none;
			margin:0;
			padding-left:0 !important;
			li{
				color:#fff;
				a, a.active{text-decoration: none; color:#fff;}
			}
		}
		.descricao{
			color:#fff;
		}

		img{
			margin:0 auto;
			display:block;
			max-width: 300px
		}
	}
}

.format-flex{
	display:flex;
	    align-items: center !important;
}


@import "blog";
@import "geral";
@import "botoes";
@import "loading";
@import "menu";
@import "carousel";
@import "fontes";
@import "home";
@import "pagina-personal";
@import "pagina-planos";
@import "responsive";