@font-face {
  font-family: "Montserrat";
  src: url('../../fontes/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: "Montserrat_Bold";
  src: url('../../fontes/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family:  "Fontawesome";
  src: url('../../fontes/Fontawesome/Fontawesome.ttf');
}

