$azul : #007f8e;
$amarelo : #f8b004;
body{

  h1,h2,h3,h4,h5,h6,p,a{
    font-family: Montserrat;
  }
  section{
    padding:60px 0;
  }

  .titulo{
    h1{
      font-family: Montserrat_Bold;
      text-transform: uppercase;
      color: $azul;
    }
  }
  .descricao{
    font-size: 16px;
    line-height: 25px;
  }
  .nopadding{
    padding:0;
  }
  .nopaddingtop{
    padding-top:0;
  }
  .align-vertical{
    display: flex;
    align-items: center;
  }
}

#footer{
  padding:20px 0;
  background:$amarelo;
  .copyright{
    margin:0 auto;
    display: block;
    p{
      text-align:center;
      margin: 0;
      text-transform: uppercase;
      color:#fff;
      font-weight: bold;
      font-size: 12px !important;
      a{
        text-decoration: none;
        color:#fff;
      }
    }
  }
}
#contato{
  .barra{
    margin-bottom:40px;
    background-image: url("../../imagens/bg-contato.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .pattern{
      position:absolute;
      width: 100%;
      top:0;
      height:100%;
      background:$azul;
      opacity: 0.6;
      z-index:1;
    }
    .title{
      padding: 50px;
      background:rgba(0, 127, 142, 0.7098039215686275);
    }

    h2{
      margin:0;
      text-transform: uppercase;
      color: #fff;
      font-family: Montserrat_Bold;
      z-index: 2;
      font-size: 3em;
    }
    &:before{
      content:"";
      display: block;

    }
  }
}
