#personal{
  background:#fff;
  .titulo{
    display: flex;
    align-items: center;
    i{
      display: inline-block;
      padding-right:5px;
      transform: rotate(25deg);
      font-size:18px;
      color:$amarelo;
      transition: 0.5s all ease;
      &:hover{
        transform:rotate(-5deg);
        color:$azul;
      }
    }
    h1{
      margin:0;
      display: inline-block;
    }
    margin-bottom: 25px;
  }
  .descricao{
    margin-bottom: 25px;
    s
    p, li,strong{

      color:#949494;
      line-height: 27.5px;
      text-align:justify;
    }
  }
  .imagem{
    background-image: url("../../imagens/teste-opacity.png");
    background-color:#fff;
    img{
      max-height: 400px;
      margin:0 auto;
      display: block;
      //margin-top: 40px;
    }
  }
}
#folowup{
  .barra{
    margin-bottom:40px;
    background-image: url("../../imagens/banners/3.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .pattern{
      position:absolute;
      width: 100%;
      top:0;
      height:100%;
      background:$azul;
      opacity: 0.6;
      z-index:1;
    }
    .title{
      padding: 50px;
      background:rgba(0, 127, 142, 0.7098039215686275);
    }

    h2{
      margin:0;
      text-transform: uppercase;
      color: #fff;
      font-family: Montserrat_Bold;
      z-index: 2;
      font-size: 3em;
    }
     &:before{
       content:"";
       display: block;

     }
  }
  .box-imagem {
    position: relative;
    .imagem {
      position: relative;
      margin: 0 auto;
      width: 400px;
      height: 400px;
      display: block;
      overflow: hidden;
      img {
        display: flex;
        align-items: center;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        width: 100%;
        transition: 0.5s all ease;
      }

      &:hover img {
        transform: scale(1.1) rotate(2deg);
        transition: all .3s;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
        opacity: 0;
        transition: all .3s;
        width: 100%;
        height: 100%;
        top: 0;
      }
    }

    &:hover .imagem:after {
      opacity: 1 !important;
      transition: all .3s;
    }
  }
  .titulo{
    font-family: Montserrat;
    color:$azul;
  }
}
#depoimentos{
  .barra{
    margin-bottom:40px;
    background-image: url("../../imagens/counter_bg-1.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .pattern{
      position:absolute;
      width: 100%;
      top:0;
      height:100%;
      background:$azul;
      opacity: 0.6;
      z-index:1;
    }
    .title{
      padding: 50px;
      background:rgba(0, 127, 142, 0.7098039215686275);
    }

    h2{
      margin:0;
      text-transform: uppercase;
      color: #fff;
      font-family: Montserrat_Bold;
      z-index: 2;
      font-size: 3em;
    }
    &:before{
      content:"";
      display: block;

    }
  }
  .carousel, .carousel .carousel-inner .item {
    height: auto !important;
  }
  /* carousel */
  #quote-carousel
  {
    padding: 0 10px 30px 10px;
    margin-top: 00px;
  }

  /* Control buttons  */
  #quote-carousel .carousel-control
  {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
  }
  /* Previous button  */
  #quote-carousel .carousel-control.left
  {
    left: -12px;
  }
  /* Next button  */
  #quote-carousel .carousel-control.right
  {
    right: -50px !important;
  }
  /* Changes the position of the indicators */
  #quote-carousel .carousel-indicators
  {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
  }
  /* Changes the color of the indicators */
  #quote-carousel .carousel-indicators li
  {
    background: #c0c0c0;
  }
  #quote-carousel .carousel-indicators .active
  {
    background: #333333;
  }
  #quote-carousel img
  {
    width: 100px !important;
    height: 100px!important;
    margin:0 auto;
    display: block;
  }
  /* End carousel */

  .item blockquote {
    border-left: none;
    margin: 0;
  }

  .item blockquote img {
    margin-bottom: 10px;
  }

  /**
    MEDIA QUERIES
  */

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    #quote-carousel
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }

  }

  /* Small devices (tablets, up to 768px) */
  @media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
      bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
      display: inline-block;
      margin: 0px 5px;
      width: 15px;
      height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
      margin: 0px 5px;
      width: 20px;
      height: 20px;
    }
  }
}
#blog{
  .barra{
    margin-bottom:40px;
    background-image: url("../../imagens/blog-background2.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .pattern{
      position:absolute;
      width: 100%;
      top:0;
      height:100%;
      background:$azul;
      opacity: 0.6;
      z-index:1;
    }
    .title{
      padding: 50px;
      background:rgba(0, 127, 142, 0.7098039215686275);
    }

    h2{
      margin:0;
      text-transform: uppercase;
      color: #fff;
      font-family: Montserrat_Bold;
      z-index: 2;
      font-size: 3em;
    }
    &:before{
      content:"";
      display: block;

    }
  }
  .titulo{
    h4{
      font-weight: bold;
      margin:10px 0px  5px 0;
    }
  }
  .descricao{
    p{
      font-size: 14px;
    }
  }
  .btn-cliente-azul{
    font-size: 10px;
  }
  .botao-ver-mais{
    text-align:center;
    display: block;
    margin: 50px auto;
    .btn-cliente-amarelo{
      padding: 10px 40px;
    }
  }
  .post{
    .imagem{
      position: relative;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        transition: all .3s;
      }
      &:hover img{
        transform: scale(1.1) rotate(2deg);
        transition: all .3s;
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        background-color: rgba(0,0,0,.5);
        opacity: 0;
        transition: all .3s;
        width: 100%;
        height: 100%;
        top: 0;
      }
    }
    &:hover .imagem:after{
      opacity: 1 !important;
      transition: all .3s;
    }
  }
}
#redes-sociais{
  padding-bottom: 40px;
  .barra{
    margin-bottom:40px;
    background-image: url("../../imagens/social.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .pattern{
      position:absolute;
      width: 100%;
      top:0;
      height:100%;
      background:$azul;
      opacity: 0.6;
      z-index:1;
    }
    .title{
      padding: 50px;
      background:rgba(0, 127, 142, 0.7098039215686275);
    }

    h2{
      margin:0;
      text-transform: uppercase;
      color: #fff;
      font-family: Montserrat_Bold;
      z-index: 2;
      font-size: 3em;
    }
    &:before{
      content:"";
      display: block;

    }
  }
  .instagram{
    img{
      margin:0 auto;
      display: block;
      width: 100%;
    }
  }
}
