.loading{
  background: #fff ;
  position:fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1031 !important;

  .logo{
    display: block;
    margin: 0 auto;
    img{

    }
  }
  .gif{

  }
}