$azul: #007f8e;;
$azul_claro : #1f8f9c;
$amarelo : #f8b514;

.navbar{
  background: rgba(255, 255, 255, 0.93) !important;

  border:0 !important;
  .container{
    overflow:hidden !important;
  }
  .navbar-header {
    padding:20px 20px;
    .navbar-brand {
      padding: 0px; /* firefox bug fix */
    }
    .navbar-brand>.logo>img {
      height: 60px;
      padding:  0; /* firefox bug fix */
      width: auto;
    }
  }
  .navbar-collapse{
    .navbar-right {
      padding-top:15px;
    }

    ul{
      li{
        a{
          font-family: Montserrat_Bold;
          font-size:16px;
          text-transform: uppercase;
          color:$azul;
          &:hover, &:active,&:focus{
            color: $amarelo !important;
          }
        &:hover{

        }
        }
      }
    }
  }
}


@media (min-width: 768px){
  .navbar-collapse{
    height: auto !important;
  }
  .navbar-right {
    margin-top: 5px;
  }
}