#barra-planos{
	background-color:#fff;
    position: relative;
    background-position: bottom !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-bottom: 0px solid #eaeaea !important;
    padding: 50px 0 !important;
    .container-fluid{
    	position:relative;
    }
	.azul{
		background: #0380b0 !important;
	}
	.verde{
		background: #84b639 !important;
	}
	.pattern{
	       height: 100%;
	    position: absolute;
	    z-index: 0;
	    top: 0;
	    width: 100%;
	    opacity: 0.7;
	}
	h1{color:#fff !important;}
	a{
    	width: fit-content;
	    display: block;
    	margin: 0 auto;
	}
}