/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/*=========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #planos{
    .content{
      margin:auto !important;
    }
  }

}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .format-flex{
    display:block !important; 
  }
  .btn{
    margin:20px auto !important;
    display:block;
    width:fit-content;

  }
  .carousel,.carousel .carousel-inner .item{
    height:auto !important;
  }

  #sobre{
  padding:60px 0;
    .align-vertical{
      display:block !important;
    }
    .btn-cliente-amarelo{
      width:fit-content;
      margin:20px auto !important;
      display:block;

    }
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}
