#topo { position: relative; background-position: bottom !important; background-size: cover !important; background-repeat: no-repeat !important; border-bottom: 0px solid #eaeaea !important; margin-top: 90px; padding: 50px 0 !important; }
#topo .azul { background: #0380b0 !important; }
#topo .verde { background: #84b639 !important; }
#topo .pattern { height: 100%; position: absolute; z-index: 0; top: 0; width: 100%; opacity: 0.7; }
#topo .box-topo { margin: 20px 0; }
#topo .box-topo h1 { font-weight: bold; color: #fff; }
#topo .box-topo .breadcrumb { background: none; margin: 0; padding-left: 0 !important; }
#topo .box-topo .breadcrumb li { color: #fff; }
#topo .box-topo .breadcrumb li a, #topo .box-topo .breadcrumb li a.active { text-decoration: none; color: #fff; }
#topo .box-topo .descricao { color: #fff; }
#topo .box-topo img { margin: 0 auto; display: block; max-width: 300px; }

.format-flex { display: flex; align-items: center !important; }

body h1, body h2, body h3, body h4, body h5, body h6, body p, body a { font-family: Montserrat; }
body section { padding: 60px 0; }
body .titulo h1 { font-family: Montserrat_Bold; text-transform: uppercase; color: #007f8e; }
body .descricao { font-size: 16px; line-height: 25px; }
body .nopadding { padding: 0; }
body .nopaddingtop { padding-top: 0; }
body .align-vertical { display: flex; align-items: center; }

#footer { padding: 20px 0; background: #f8b004; }
#footer .copyright { margin: 0 auto; display: block; }
#footer .copyright p { text-align: center; margin: 0; text-transform: uppercase; color: #fff; font-weight: bold; font-size: 12px !important; }
#footer .copyright p a { text-decoration: none; color: #fff; }

#contato .barra { margin-bottom: 40px; background-image: url("../../imagens/bg-contato.jpg"); background-position: center top; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; }
#contato .barra .pattern { position: absolute; width: 100%; top: 0; height: 100%; background: #007f8e; opacity: 0.6; z-index: 1; }
#contato .barra .title { padding: 50px; background: rgba(0, 127, 142, 0.7098039216); }
#contato .barra h2 { margin: 0; text-transform: uppercase; color: #fff; font-family: Montserrat_Bold; z-index: 2; font-size: 3em; }
#contato .barra:before { content: ""; display: block; }

.btn { border-radius: 30px; }

.btn-cliente-azul { background: #007f8e; color: #fff; transition: 0.3s all ease; font-weight: bold; letter-spacing: 1.3px; text-transform: uppercase; }
.btn-cliente-azul:hover { background: #f8b004; color: #fff; }

.btn-cliente-amarelo { background: #f8b004; color: #fff; transition: 0.3s all ease; font-weight: bold; letter-spacing: 1.3px; text-transform: uppercase; }
.btn-cliente-amarelo:hover { background: #007f8e; color: #fff; }

.loading { background: #fff; position: fixed; height: 100vh; width: 100%; display: flex; align-items: center; z-index: 1031 !important; }
.loading .logo { display: block; margin: 0 auto; }

.navbar { background: rgba(255, 255, 255, 0.93) !important; border: 0 !important; }
.navbar .container { overflow: hidden !important; }
.navbar .navbar-header { padding: 20px 20px; }
.navbar .navbar-header .navbar-brand { padding: 0px; /* firefox bug fix */ }
.navbar .navbar-header .navbar-brand > .logo > img { height: 60px; padding: 0; /* firefox bug fix */ width: auto; }
.navbar .navbar-collapse .navbar-right { padding-top: 15px; }
.navbar .navbar-collapse ul li a { font-family: Montserrat_Bold; font-size: 16px; text-transform: uppercase; color: #007f8e; }
.navbar .navbar-collapse ul li a:hover, .navbar .navbar-collapse ul li a:active, .navbar .navbar-collapse ul li a:focus { color: #f8b514 !important; }

@media (min-width: 768px) { .navbar-collapse { height: auto !important; }
  .navbar-right { margin-top: 5px; } }
.carousel { height: 100vh; }
.carousel .carousel-inner .item { height: 100vh !important; }
.carousel .carousel-inner .item img { width: 100% !important; }

.carousel-control.left, .carousel-control.right { background-image: none; }

@font-face { font-family: "Montserrat"; src: url("../../fontes/Montserrat/Montserrat-Regular.ttf"); }
@font-face { font-family: "Montserrat_Bold"; src: url("../../fontes/Montserrat/Montserrat-Bold.ttf"); }
@font-face { font-family: "Fontawesome"; src: url("../../fontes/Fontawesome/Fontawesome.ttf"); }
#personal { background: #fff; }
#personal .titulo { display: flex; align-items: center; margin-bottom: 25px; }
#personal .titulo i { display: inline-block; padding-right: 5px; transform: rotate(25deg); font-size: 18px; color: #f8b514; transition: 0.5s all ease; }
#personal .titulo i:hover { transform: rotate(-5deg); color: #007f8e; }
#personal .titulo h1 { margin: 0; display: inline-block; }
#personal .descricao { margin-bottom: 25px; }
#personal .descricao s p, #personal .descricao li, #personal .descricao strong { color: #949494; line-height: 27.5px; text-align: justify; }
#personal .imagem { background-image: url("../../imagens/teste-opacity.png"); background-color: #fff; }
#personal .imagem img { max-height: 400px; margin: 0 auto; display: block; }

#folowup .barra { margin-bottom: 40px; background-image: url("../../imagens/banners/3.jpg"); background-position: center top; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; }
#folowup .barra .pattern { position: absolute; width: 100%; top: 0; height: 100%; background: #007f8e; opacity: 0.6; z-index: 1; }
#folowup .barra .title { padding: 50px; background: rgba(0, 127, 142, 0.7098039216); }
#folowup .barra h2 { margin: 0; text-transform: uppercase; color: #fff; font-family: Montserrat_Bold; z-index: 2; font-size: 3em; }
#folowup .barra:before { content: ""; display: block; }
#folowup .box-imagem { position: relative; }
#folowup .box-imagem .imagem { position: relative; margin: 0 auto; width: 400px; height: 400px; display: block; overflow: hidden; }
#folowup .box-imagem .imagem img { display: flex; align-items: center; left: 0px; right: 0px; margin-left: auto; margin-right: auto; z-index: 1; width: 100%; transition: 0.5s all ease; }
#folowup .box-imagem .imagem:hover img { transform: scale(1.1) rotate(2deg); transition: all .3s; }
#folowup .box-imagem .imagem:after { content: ''; display: block; position: absolute; background-color: rgba(0, 0, 0, 0.5); opacity: 0; transition: all .3s; width: 100%; height: 100%; top: 0; }
#folowup .box-imagem:hover .imagem:after { opacity: 1 !important; transition: all .3s; }
#folowup .titulo { font-family: Montserrat; color: #007f8e; }

#depoimentos { /* carousel */ /* Control buttons  */ /* Previous button  */ /* Next button  */ /* Changes the position of the indicators */ /* Changes the color of the indicators */ /* End carousel */ /** MEDIA QUERIES
*/ /* Small devices (tablets, 768px and up) */ /* Small devices (tablets, up to 768px) */ }
#depoimentos .barra { margin-bottom: 40px; background-image: url("../../imagens/counter_bg-1.jpg"); background-position: center top; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; }
#depoimentos .barra .pattern { position: absolute; width: 100%; top: 0; height: 100%; background: #007f8e; opacity: 0.6; z-index: 1; }
#depoimentos .barra .title { padding: 50px; background: rgba(0, 127, 142, 0.7098039216); }
#depoimentos .barra h2 { margin: 0; text-transform: uppercase; color: #fff; font-family: Montserrat_Bold; z-index: 2; font-size: 3em; }
#depoimentos .barra:before { content: ""; display: block; }
#depoimentos .carousel, #depoimentos .carousel .carousel-inner .item { height: auto !important; }
#depoimentos #quote-carousel { padding: 0 10px 30px 10px; margin-top: 00px; }
#depoimentos #quote-carousel .carousel-control { background: none; color: #222; font-size: 2.3em; text-shadow: none; margin-top: 30px; }
#depoimentos #quote-carousel .carousel-control.left { left: -12px; }
#depoimentos #quote-carousel .carousel-control.right { right: -50px !important; }
#depoimentos #quote-carousel .carousel-indicators { right: 50%; top: auto; bottom: 0px; margin-right: -19px; }
#depoimentos #quote-carousel .carousel-indicators li { background: #c0c0c0; }
#depoimentos #quote-carousel .carousel-indicators .active { background: #333333; }
#depoimentos #quote-carousel img { width: 100px !important; height: 100px !important; margin: 0 auto; display: block; }
#depoimentos .item blockquote { border-left: none; margin: 0; }
#depoimentos .item blockquote img { margin-bottom: 10px; }
@media (min-width: 768px) { #depoimentos #quote-carousel { margin-bottom: 0; padding: 0 40px 30px 40px; } }
@media (max-width: 768px) { #depoimentos { /* Make the indicators larger for easier clicking with fingers/thumb on mobile */ }
  #depoimentos #quote-carousel .carousel-indicators { bottom: -20px !important; }
  #depoimentos #quote-carousel .carousel-indicators li { display: inline-block; margin: 0px 5px; width: 15px; height: 15px; }
  #depoimentos #quote-carousel .carousel-indicators li.active { margin: 0px 5px; width: 20px; height: 20px; } }

#blog .barra { margin-bottom: 40px; background-image: url("../../imagens/blog-background2.jpg"); background-position: center top; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; }
#blog .barra .pattern { position: absolute; width: 100%; top: 0; height: 100%; background: #007f8e; opacity: 0.6; z-index: 1; }
#blog .barra .title { padding: 50px; background: rgba(0, 127, 142, 0.7098039216); }
#blog .barra h2 { margin: 0; text-transform: uppercase; color: #fff; font-family: Montserrat_Bold; z-index: 2; font-size: 3em; }
#blog .barra:before { content: ""; display: block; }
#blog .titulo h4 { font-weight: bold; margin: 10px 0px  5px 0; }
#blog .descricao p { font-size: 14px; }
#blog .btn-cliente-azul { font-size: 10px; }
#blog .botao-ver-mais { text-align: center; display: block; margin: 50px auto; }
#blog .botao-ver-mais .btn-cliente-amarelo { padding: 10px 40px; }
#blog .post .imagem { position: relative; overflow: hidden; }
#blog .post .imagem img { width: 100%; height: 100%; transition: all .3s; }
#blog .post .imagem:hover img { transform: scale(1.1) rotate(2deg); transition: all .3s; }
#blog .post .imagem:after { content: ''; display: block; position: absolute; background-color: rgba(0, 0, 0, 0.5); opacity: 0; transition: all .3s; width: 100%; height: 100%; top: 0; }
#blog .post:hover .imagem:after { opacity: 1 !important; transition: all .3s; }

#redes-sociais { padding-bottom: 40px; }
#redes-sociais .barra { margin-bottom: 40px; background-image: url("../../imagens/social.jpg"); background-position: center top; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; }
#redes-sociais .barra .pattern { position: absolute; width: 100%; top: 0; height: 100%; background: #007f8e; opacity: 0.6; z-index: 1; }
#redes-sociais .barra .title { padding: 50px; background: rgba(0, 127, 142, 0.7098039216); }
#redes-sociais .barra h2 { margin: 0; text-transform: uppercase; color: #fff; font-family: Montserrat_Bold; z-index: 2; font-size: 3em; }
#redes-sociais .barra:before { content: ""; display: block; }
#redes-sociais .instagram img { margin: 0 auto; display: block; width: 100%; }

#barra-planos { background-color: #fff; position: relative; background-position: bottom !important; background-size: cover !important; background-repeat: no-repeat !important; border-bottom: 0px solid #eaeaea !important; padding: 50px 0 !important; }
#barra-planos .container-fluid { position: relative; }
#barra-planos .azul { background: #0380b0 !important; }
#barra-planos .verde { background: #84b639 !important; }
#barra-planos .pattern { height: 100%; position: absolute; z-index: 0; top: 0; width: 100%; opacity: 0.7; }
#barra-planos h1 { color: #fff !important; }
#barra-planos a { width: fit-content; display: block; margin: 0 auto; }

#planos { background: #fff; }
#planos .box-content { padding: 0 0 30px; }
#planos .box-content .titulo h2 { font-weight: bold; color: #007f8e; }
#planos .box-content .subtitulo p { color: #888; line-height: 24px; font-size: 18px; }

.content { padding: 30px 0; margin: 0px 20px; }

/***
Pricing table
***/
.pricing { position: relative; margin-bottom: 15px; border: 3px solid #eee; }

.pricing-active { border: 3px solid #f8b004; margin-top: -10px; box-shadow: 7px 7px #f8b00447; }

.pricing-active:hover { box-shadow: 7px 7px #007f8e; }

.pricing:hover { border: 3px solid #007f8e; }

.pricing:hover h4 { color: #007f8e; }

.pricing-head { text-align: center; }

.pricing-head h3, .pricing-head h4 { margin: 0; line-height: normal; }

.pricing-head h3 span, .pricing-head h4 span { display: block; margin-top: 5px; font-size: 14px; font-style: italic; }

.pricing-head h3 { font-weight: 300; color: #fafafa; padding: 12px 0; font-size: 27px; background: #007f8e; border-bottom: solid 1px #007f8e; }

.pricing-head h4 { color: #f8b004; padding: 5px 0; font-size: 54px; font-weight: 300; background: #fbfef2; border-bottom: solid 1px #f5f9e7; }

.pricing-head-active h4 { color: #007f8e; }

.pricing-head h4 i { top: -8px; font-size: 28px; font-style: normal; position: relative; }

.pricing-head h4 span { top: -10px; font-size: 14px; font-style: normal; position: relative; }

/*Pricing Content*/
.pricing-content li { color: #888; font-size: 16px; padding: 10px 15px; border-bottom: solid 1px #f5f9e7; }

/*Pricing Footer*/
.pricing-footer { color: #777; font-size: 11px; line-height: 17px; text-align: center; padding: 0 20px 19px; }

/*Priceing Active*/
.price-active, .pricing:hover { z-index: 9; }

.price-active h4 { color: #36d7ac; }

.no-space-pricing .pricing:hover { transition: box-shadow 0.2s ease-in-out; }

.no-space-pricing .price-active .pricing-head h4, .no-space-pricing .pricing:hover .pricing-head h4 { color: #36d7ac; padding: 15px 0; font-size: 80px; transition: color 0.5s ease-in-out; }

.yellow-crusta.btn { color: #FFFFFF; background-color: #f3c200; }

.yellow-crusta.btn:hover, .yellow-crusta.btn:focus, .yellow-crusta.btn:active, .yellow-crusta.btn.active { color: #FFFFFF; background-color: #cfa500; }

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/*=========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) { #planos .content { margin: auto !important; } }
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) { .format-flex { display: block !important; }
  .btn { margin: 20px auto !important; display: block; width: fit-content; }
  .carousel, .carousel .carousel-inner .item { height: auto !important; }
  #sobre { padding: 60px 0; }
  #sobre .align-vertical { display: block !important; }
  #sobre .btn-cliente-amarelo { width: fit-content; margin: 20px auto !important; display: block; } }
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */

/*# sourceMappingURL=estilo.css.map */
